<div class="container center-align">
  <div class="row">
    <form class="col s12 center alignCenter">
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
          <label for="first_name">Nom</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">Message</label>
        </div>
      </div>
      <div class="row">
        <button class="btn waves-effect waves-light col " type="submit" name="action">Envoyer</button>
      </div>

    </form>
  </div>
</div>